.trade-widget-container {
  background-color: #1a1a2e;
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  margin: 0 auto; /* Wycentrowanie widżetu */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  position: relative;
  bottom: 10%;
  transform: translateY(50%);
}

/* Stylizacja sekcji handlowej */
.trade-section {
  margin-bottom: 20px;
}

.trade-section h4 {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 10px;
}

/* Stylizacja wyboru kryptowalut */
select.crypto-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  width: auto;
  cursor: pointer;
}

/* Kontener dla selektora tokenów */
.token-select {
  position: relative;
  background-color: #2c2c44;
  display: flex;
  padding: 10px 15px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

select.crypto-select:hover {
  background-color: #99999944;
  border-radius: 5px;
}

/* Stylizacja wejścia dla tokenów */
.token-input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: right;
  width: 100px;
}

/* Stylizacja strzałki wymiany */
.trade-arrow {
  font-size: 24px;
  color: #88d492;
  margin: 15px 0;
}

/* Stylizacja przycisku "Connect Wallet" lub "Swap" */
.connect-btn {
  background-color: #76c893;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Płynne przejście */
}

.connect-btn a {
  background-color: #76c893;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Pulsujący efekt na hover */
.connect-btn:hover {
  background-color: #5ba67b; /* Zmiana koloru */
  transform: scale(1.1); /* Powiększenie przy najechaniu */
}
/* Kontener dla przycisków akcji (BUY, BRIDGE, SWAP) */
.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  gap: 20px;
}

/* Stylizacja przycisków akcji */
.action-button {
  padding: 20px 40px;
  border-radius: 30px;
  background: linear-gradient(45deg, #76c893, #395e38);
  border: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.action-button:hover {
  background-color: #3c9553;
}

.action-button:active {
  background-color: #338435;
}

/* Ukrycie przycisków dla wejścia numerycznego */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 100px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #2c2c44;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #444;
}

/* Stylizacja linku do wylogowania */
.logout-container {
  text-align: center;
  margin-top: 188px;
  position: relative;
}

.logout-link {
  font-size: 16px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}